body {
    width: 1280px;
    height: 1200px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

.logo_section {
    height: 100px;
    line-height: 90px;
    padding: 45px 0px;
}

.logo {
    font-size: 80px;
    text-decoration: none;
}

.logo_first_part {
    color: #000000;
}

.logo_second_part {
    color: #4bcaff;
}

.top_menu {
    margin-right: auto;
    margin-left: auto;
    background-color: #35444f;
    width: 1280px;
    height: 68px;
}

.top_menu_links {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.top_menu_links li {
    display: inline-block;
}

.top_menu_links a {
    display: inline-block;
    padding: 22px 40px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 1;
    transition: all .2s ease-in-out;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.top_menu_links a:hover {
    background-color: #222f3a;
    border-color: #818181;
}

.left_menu_section {
    display: inline-block;
    width: 340px;
    height: 400px;
    /* margin-top: 60px; */
    position: absolute;
    top: 60px;
}

.left_menu_links {
    border: 1px solid #35444f;
    padding: 0;
    margin: 0;
    height: 400px;
}

.left_menu_section a {
    color: #000000;
    text-decoration: none;
}

.left_menu_links li {
    height: 80px;
    text-decoration: none;
    list-style-type: none;
}

.left_menu_links a {
    display: inline-block;
    width: 298px;
    padding: 32px 0px 32px 40px;
    line-height: 1;
}

.left_menu_links a:hover {
    background-color: #dbdbdb;
    transition: all .2s ease-in-out;
}

.main_section {
    display: inline-block;
    position: relative;
    width: 1280px;
}

.right_section {
    width: 880px;
}

.right_section_image {
    display: inline-block;
    align-content: center;
    width: 880px;
    height: 530px;
    position: absolute;
    top: 60px;
    left: 400px;
    border: 1px solid #000000;
}

.goat_image {
    position: absolute;
    left: 280px;
    top: 75px;
}

.text_section {
    position: absolute;
    font-size: 18px;
    left: 450px;
    top: 600px;
    line-height: 1;
    text-align: left;
}

.footer_section {
    display: inline-block;
    width: 1280px;
    height: 65px;
    background-color: #b4b7ba;
    position: absolute;
    bottom: -520px;
}

.footer {
    display: inline-block;
    width: 1280px;
    height: 65px;
}

.footer_links {
    margin-top: 18px;
    display: inline-block;
}

.footer_links li {
    display: inline-block;
}

.footer_links a {
    text-decoration: none;
    list-style-type: none;
    color: #000000;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 24px;
}

.footer_links a:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright {
    width: 30%;
    padding-right: 35px;
    padding-bottom: 3px;
    display: inline-block;
    color: #3181a6;
    text-align: right;
    font-size: 20px;
    margin: 18px 0;
}